.hamburger {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

.hamburger > div {
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}
.hamburger:hover *{
    transform: scale(1.1);
}
