.navbar {
    height: 100%;
    display: grid;
    position: relative;
}


.navbar-top {
    background: black;
    height: 50px;
    z-index: 5;
    display: flex;
}
.navbar-top h2{
    color: white;
    margin: auto;
    transform: translateX(-25px);
    font-size: 2em;
}

.navbar-menu {
    background: rgb(7,80,0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 1%, rgb(85, 85, 85) 99%);
    transition: all ease-in-out 0.2s;
    position: absolute;
    width: 100%;
    top: 50px;
    border-bottom: 5px solid white;
    
    
}
.navbar-menu-active {
    transform: translateY(0);
}
.navbar-menu-hidden {
    transform: translateY(-100%);
}
.navbar-menu li {
    font-size: 2em;
    list-style: none;
    padding: 10px;
    padding-left: 1em;
}
.navbar-menu li a {
    color: white;
    text-decoration: none;
}
.navbar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.301);
}

