* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

html, body {
    height: 100%;
}

.App {
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto;
    background: rgb(14, 0, 94);
    background: radial-gradient(circle, rgb(84, 82, 245) 1%, rgb(14, 0, 94) 71%);
    /*
    background: rgb(0,142,14);
    background: radial-gradient(circle, rgb(0, 112, 11) 44%, rgba(7,80,0,1) 71%);
    */
    margin: auto;
}

#root {
    height: 100%;
}

